<script setup lang="ts">
import WinkCard from '..';
import { useTranslate } from '../../../docs/site/use-translate';
const t = useTranslate({
  'zh-CN': {
    title: '商品名称',
    discountInfo: '营销信息',
    customContent: '自定义内容',
  },
  'en-US': {
    discountInfo: 'Discount Info',
    customContent: 'Custom Content',
  },
});
</script>

<template>
  <demo-block title="通用用法">
    <wink-card
      desc="描述"
      title="标题"
    />
  </demo-block>
</template>

<style lang="less">
  body {
    background: #333;
  }

</style>